# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.DS_Store
*.egg-info/
.envrc
.vscode/
.idea/
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.coverage
*.tox/
*.pytest_cache/
*.mypy_cache/
*.pdm.toml
*.pdm.lock
*.venv/
# Ignorar la carpeta de modelos descargados
src/models/
*.jpg
*.png
*.jpeg